<!DOCTYPE html>

<html lang="el">
<head>
    <meta charset="utf-8" />
    <title>Paa Web App</title>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet"/>
</head>
<body>
    <header>
        <nav class="navbar">
            <a href="#" data-page="arxiki">Αρχική</a>
            <a href="#" data-page="ta">ΤΑ Αρχικής</a>
            <a href="#" data-page="mellontiki">ΤΑ Μελλοντικής</a>
            <a href="#" data-page="epileximotita">Επιλεξιμότητα</a>
            <a href="#" data-page="moria">Μοριοδότηση</a>

        </nav>
    </header>
    <main>
        
        
        <form id="personal-info">
            <fieldset>

                <label for="AFM">ΑΦΜ: </label>
                <input type="text"
                       name="AFM"
                       id="AFM" 
                        inputmode="numeric"
                        maxlength="9"
                        autocomplete="off"/>
                
                 <label for="name">Όνομα: </label>
                <input type="text"
                       name="name"
                       id="name" />
                <label for="surname">Επώνυμο: </label>
                <input type="text"
                       name="surname"
                       id="surname" />
                 <label for="district">Περιφέρεια: </label>
                <select id="district" name="district" required>
                    <!-- Θα γεμίσει δυναμικά από το /api/regions -->
                </select>
                <button type="button" id="load">Φόρτωση</button>
                <button type="button" id="import">Εισαγωγή</button>
                <button type="button" id="save">Αποθήκευση</button>
                <button type="button" id="export">Εξαγωγή Excel</button>
                
            </fieldset>

        </form>
        <section data-page-container="arxiki">
            <h2>Συγκεντρωτικός Πίνακας Εγγραφών</h2>
            <fieldset>
                <label for="search-afm">Αναζήτηση ΑΦΜ: </label>
                <input type="text" id="search-afm" name="search-afm" inputmode="numeric" maxlength="9" autocomplete="off"/>
                <button type="button" id="export-records">Εξαγωγή εγγραφών</button>
            </fieldset>
            <table id="records-table">
                <thead>
                    <tr>
                        <th>ΑΦΜ</th>
                        <th>Όνομα</th>
                        <th>Επώνυμο</th>
                        <th>Περιφέρεια</th>
                        <th>Αρχική ΤΑ</th>
                        <th>Μελλοντική ΤΑ</th>
                        <th>Μόρια</th>
                        <th>Επιλεξιμότητα</th>
                        <th>Τελευταία Επεξεργασία</th>
                        <th>Επεξεργασία</th>
                        <th>Διαγραφή</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Θα γεμίσει δυναμικά με τις εγγραφές -->
                </tbody>
            </table>
        </section>
        <section data-page-container="ta" hidden>
            <h2>Τυπική Απόδοση Αρχικης Κατάστασης</h2>
            <button type="button" id="add-row">Προσθήκη</button>
            <table id="ta-table">
                <thead>
                    <tr>
                        <th>Κατηγορία ΟΣΔΕ</th>
                        <th>Περιγραφή Είδους/Ποικιλίας/Ζώων</th>
                        <th>Τυπική Απόδοση</th>
                        <th>Έκταση/Αριθμός ζώων</th>
                        <th>Βιολογικά \Ολοκλ/μένη \ΠΟΠ/ΠΓΕ</th>
                        <th>Δένδρα &gt;=4 ετών</th>
                        <th>Δένδρα &lt;4 ετών</th>
                        <th>Αμπέλι &gt;3 ετών</th>
                        <th>ΤΑ ανά πιλογή</th>
                        <th>Διαγραφή</th>
                        <th>Σύνολο ΤΑ</th>
                        <th>ΤΑ Παραγωγικών</th>
                        <th>ΤΑ Φυτικής </th>
                        <th>ΤΑ Ζωικής </th>
                        <th>ΤΑ Μελίσσια Mεταξοσκώληκες </th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Θα γεμίσει δυναμικά με τις εγγραφές -->
                </tbody>
            </table>
        </section>
        <section data-page-container="mellontiki" hidden>
            <h2>Τυπική Απόδοση Μελλοντικής Κατάστασης</h2>
        </section>
        <section data-page-container="epileximotita" hidden>
            <h2>Κριτήρια Επιλεξιμότητας Υποψηφίου</h2>
        </section>
        <section data-page-container="moria" hidden>
            <h2>Κριτήρια Μοριοδότησης Υποψηφίου</h2>
        </section>
    </main>
    <script src="{{ url_for('static', filename='main_window.js') }}"></script>
    <script src="{{ url_for('static', filename='section_arxiki.js') }}"></script>
    <script src="{{ url_for('static', filename='messages.js') }}"></script>
    
</body>
</html>